nav{
    display: flex;
    justify-content: space-between;
    color: #000;
    /* margin-right: 20%; */
    background-color: #f8f5f5;
  }
.mainMenu{
    display: flex;
    list-style: none;
}
.mainMenu li a {
    display: inline-block;
    padding: 15px;
    font-size: 30px;
    text-decoration: none;
    color:#000;
    
}
.mainMenu li a:hover{
    background:  rgb(209, 110, 172);
}
.openMenu i {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
   
}
.logo{
    /* margin: 6px; */
    font-size: 20px;
    cursor: pointer;
    display: flex;
}
/* .brand{
    display: flex;
} */
.mainMenu .closeMenu i {
     display: none;
     cursor: pointer;

}
/* .logo{
    margin: 6px;
    font-size: 15px;
    cursor: pointer;
    /* display: flex; */ 
.menteeWorld{
  height: 40px;
  width: 50px;
  border-radius: 50%;
  /* margin-bottom: 10%; */
}
.summary{
    font-size: 25px;
}
.Bookreview{
    display: flex;
    gap:5%;
}
img{
    margin-left: 10%;
    margin-top: 2%;
}
body{
    background-color:#cb9ebd; 
}
@media screen and (max-width:400px) {
    nav{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        color: #000;
        background-color: aliceblue;
        height: 80px;
        
    }
    .mainMenu{
        display: flex;
        list-style: none;
    }
    .mainMenu li a {
        display: inline-block;
        /* padding: 15px; */
        font-size: 10px;
        text-decoration: none;
        color:#000;
        
    }
    .mainMenu li a:hover{
        background:  rgb(209, 110, 172);
    }
    .openMenu i {
        font-size: 2rem;
        /* margin: 20px; */
        display: none;
        cursor: pointer;
       
    }
    .logo{
        /* margin: 6px; */
        font-size: 15px;
        cursor: pointer;
        display: flex;
    }
    .mainMenu .closeMenu i {
         display: none;
         cursor: pointer;
    
    }
    /* .logo{
        margin: 6px;
        font-size: 25px;
        cursor: pointer;
        display: flex;
    } */
    .menteeWorld{
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    .summary{
        font-size: 25px;
    }
    .Bookreview{
        display: flex;
        flex-wrap: wrap;
        gap:5%;
    }
    img{
        margin-left: 10%;
    }
    body{
        background-color:#cb9ebd; 
}
}
    
@media screen and (max-width:600px) {
    nav{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        color: #000;
        background-color: aliceblue;
        /* height: 400px; */
        
    }
    .mainMenu{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
    .mainMenu li a {
        display: inline-block;
        padding: 15px;
        font-size: 30px;
        text-decoration: none;
        color:#000;
        
    }
    .mainMenu li a:hover{
        background:  rgb(209, 110, 172);
    }
    .openMenu i {
        font-size: 1rem;
        /* margin: 20px; */
        display: none;
        cursor: pointer;
       
    }
    .logo{
        /* margin: 6px; */
        font-size: 15px;
        cursor: pointer;
        display: flex;
    }
    .mainMenu .closeMenu i {
         display: none;
         cursor: pointer;
    
    }
    /* .logo{
        margin: 6px;
        font-size: 25px;
        cursor: pointer;
        display: flex;
    } */
    .menteeWorld{
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    .summary{
        font-size: 25px;
    }
    .Bookreview{
        display: flex;
        flex-wrap: wrap;
        gap:5%;
    }
    img{
        margin-left: 10%;
    }
    body{
        background-color:#cb9ebd; 
}
}
    