@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');

nav{
    display: flex;
    justify-content: space-between;
    color: #000;
    /* margin-right: 20%; */
    background-color: #f8f5f5;
  }
  .mainMenu{
    display: flex;
    list-style: none;
  }
  .mainMenu  a {
    display: inline-block;
    padding: 15px;
    font-size: 30px;
    text-decoration: none;
    color:#000;
    
  }
  .mainMenu  a:hover{
    background:  #e4a1ca;
  }
  .openMenu i {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
   
  }
  .logo{
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
    display: flex;
  }
  .mainMenu .closeMenu i {
     display: none;
     cursor: pointer;
  
  }
  .logo{
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
    display: flex;
  }
  .menteeWorld{
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .brand{
      font-size: 30px;
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;

}

body{
  background-color: rgb(209, 110, 172);
}


#container{
display: grid;
grid-template-columns: repeat(auto-fill,200px);
gap:24px;
padding:24px;
}

.sticky{
height: 200px;
padding: 16px;
border: none;
outline: none;
resize: none;
border-radius: 5px;
font-size: 18px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn-add{
height: 200px;
border: none;
outline: none;
color:#fff;
font-size: 20px;
background-color:#bb2064;
cursor: pointer;
}
.btn-add:hover{
  background-color: #e4a1ca;
  border-radius: 5px;
}
@media screen and (max-width:375px) {
    nav{
      display: grid;
      grid-template-columns: 1 1fr;
      /* justify-content: space-between; */
      color: #000;
      /* margin-right: 20%; */
      font-size: 10px;
    }
    .mainMenu{
      display: grid;
      list-style: none;
    }
    .mainMenu  a {
      display: inline-block;
      /* padding: 15px; */
      text-decoration: none;
      color:#000;
      
    }
    .mainMenu  a:hover{
      background:  #e4a1ca;
    }
    .openMenu i {
      font-size: 2rem;
      /* margin: 20px; */
      display: none;
      cursor: pointer;
     
    }
    .logo{
      margin: 6px;
      font-size: 15px;
      cursor: pointer;
      display: flex;
    }
    .mainMenu .closeMenu i {
       display: none;
       cursor: pointer;
    
    }
    .logo{
      margin: 6px;
      font-size: 15px;
      cursor: pointer;
      display: flex;
    }
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Rubik', sans-serif;
    
    }
    
    body{
      background-color: rgb(209, 110, 172);
    }
    
    
    #container{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    gap:24px;
    padding:24px;
    }
    
    .sticky{
    height: 200px;
    padding: 16px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    
    .btn-add{
    height: 200px;
    border: none;
    outline: none;
    color:#fff;
    font-size: 20px;
    background-color:#bb2064;
    cursor: pointer;
    }
    .btn-add:hover{
      background-color: #bb2064;
      border-radius: 5px;
    }
    
}
@media screen and (max-width:700px) {
    nav{
      display: grid;
      /* justify-content: space-between; */
      color: #000;
      /* margin-right: 0; */
    }
    .mainMenu{
      display: grid;
      list-style: none;
    }
    .mainMenu  a {
      /* display: inline-block; */
      /* padding: 15px; */
      text-decoration: none;
      color:#000;
      
    }
    .mainMenu  a:hover{
      background:  #e4a1ca;
    }
    .openMenu i {
      font-size: 2rem;
      margin: 0px;
      display: none;
      cursor: pointer;
     
    }
    .logo{
      margin: 0px;
      /* font-size: 15px; */
      cursor: pointer;
      display: flex;
    }
    .mainMenu .closeMenu i {
       display: none;
       cursor: pointer;
    
    }
    /* .logo{
      margin: 0px;
      font-size: 25px;
      cursor: pointer;
      display: flex;
    } */
    body {
        margin: 0px ;
        font-family: 'Lato';
        background:#f8f5f5;
        color:#bb2064;
      }
      *{
        margin:0;
        padding:0;
      }
      h2 {
        font-weight: bold;
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
        font-weight: normal;
      }
      ul,li{
        list-style:none;
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

      }
      ul li a{
        text-decoration:none;
        color:#000;
        background:rgb(209, 110, 172);;
        display:block;
        height:10em;
        width:10em;
        padding:1em;
      }
      ul li{
        margin:1em;
      }
      ul li a:hover,ul li a:focus{
        box-shadow:10px 10px 7px rgba(0,0,0,.7);
        transform: scale(1.25);
        position:relative;
        z-index:5;
      }
  }
  